<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dingoapp.dingo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".DingoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBMuK91NXU0-1-eOU3KcBZ4alEDIjrJ_xw"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rides.RidesActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".welcome.WelcomeActivity"></activity>
        <activity android:name=".OfferActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".searchaddress.AddressSearchActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TimeActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".paymentinfo.PaymentInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RequestActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

    </application>

</manifest>
